extends layout
block content
	div.container
		div.row
			div.col-xs-12
				div.error-template
					h1
						strong Oops!
					div.error-details
						p.text-danger #{error.stack}
					div.btn-group
							a.btn.btn-primary.btn-large(href="/") Login